body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 80px); 
    column-gap: 80px; 
    row-gap: 10px; 
    justify-content: center;
    padding-top: 50px;
    
}

.grid-item {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    width: 120px; 
    height:120px;
    border-radius: 50%; 
}

.score {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    border: 1px solid black;
    width: 360px; 
    height:60px;
}

.selected {
    background-image: url('../images/taupe.jpg');
    background-size: cover;
    cursor: url('../images/cursor1.cur'), auto;
}

